body {
  background-color: rgb(240, 240, 240);

  /* Extraído de https://designers.hubspot.com/docs/snippets/design/centering-your-website-using-max-width-and-auto-margins para responsive */
  max-width: 1080px;
  margin: 0 auto;
  float: none;
}

.nick {
  font-weight: bold;
}

.right
{
  text-align:right;
  padding-right:0.5rem;
}

.center
{
  text-align:center;
}

.avatar {
  height: 4rem;
  vertical-align: middle;
  padding: 0.1rem;
}

.avatar {
  height: 4rem;
  border-radius: 4rem;
}

.mini {
  height: 2rem;
}

.red_border {
  border: 0.25rem solid #ec4731;
  box-shadow: 0 0 0 0.1rem #8b2323;
}

.red_border:hover {
  border: 0.25rem solid #eb8e37;
}

@media (max-width: 479px) {
  .avatar {
    height: 2rem;
    border-radius: 2rem;
  }

  .red_border {
    border: 0.2rem solid #ec4731;
  }

  .red_border:hover {
    border: 0.2rem solid #eb8e37;
  }

  .mini {
    height: 1rem;
  }

  .ocultar {
    display: none;
  }
}
