body {
  background-color: rgb(240, 240, 240);
  margin: 0;
}

.nick {
  font-weight: bold;
}

.avatar {
  height: 4rem;
  vertical-align: middle;
  padding: 0.1rem;
}

.avatar {
  height: 4rem;
  border-radius: 4rem;
}

.mini {
  height: 2rem;
}

.red_border {
  border: 0.25rem solid #ec4731;
  box-shadow: 0 0 0 0.1rem #8b2323;
}

.red_border:hover {
  border: 0.25rem solid #eb8e37;
}

@media (max-width: 479px) {
  .avatar {
    height: 2rem;
    border-radius: 2rem;
  }

  .red_border {
    border: 0.2rem solid #ec4731;
  }

  .red_border:hover {
    border: 0.2rem solid #eb8e37;
  }

  .mini {
    height: 1rem;
  }

  .ocultar {
    display: none;
  }
}
